*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';

}

:root{
    --dark--: #444444;
}

body {
    background-color: var(--dark--);
}

h1{
    color: white;
    font-family: 'raleway';
}